.login-form {
  padding: 0 30px;
  .btn-row {
    .facebook {
      border-color: #ffffff;
      background-color: #3b5998;
      color: #ffffff;
      font-weight: 600;
    }
    .email {
      border-color: #ffffff;
      font-weight: 600;
      color: #111111;
    }
    // background:
    .google {
      border-color: #ffffff;
      color: #ffffff;
      background-color: #dc5043;
      font-weight: 600;
    }
    .kakao {
      border-color: #ffffff;
      background-color: #ffe500;
      font-weight: 600;
      color: #111111;
    }
    .kakao-feed {
      background-color: rgba(255, 255, 255, 0);
      border: none;
      width: inherit;
      font-weight: 600;
      cursor: pointer;
    }
    .for-signup {
      text-align: right;
      padding-right: 6px;
      font-weight: 600;
    }
  }
}
.imgtest {
  width: 200px;
  margin-bottom: 30px;
}
